<nav class="d-flex flex-row align-items-center justify-content-between">
    <a href="/" style="text-decoration: none; color: inherit;">
      <div class="d-flex flex-row align-items-center container-nav">
        <h4 style="font-family: 'Mark Script Regular';">LUME</h4>
      </div>
    </a>

    <div class="d-flex flex-row">
      <div class="clock"></div>
      <div id="ofst" class="separator1"></div>
      <div class="separator">*</div>
      <div class="clockutc"></div>
      <div class="separator1">UTC</div>
    </div>

    <div class="d-flex flex-row" style="color: white; margin-left: 10px; font-family: 'Mark Script Regular'; font-size: large">
      <div class="container-nav1">Light Alert</div>
    </div>
</nav>